{% extends 'base.html' %}

{% block title %}Генератор QR-кодів{% endblock %}

{% block content %}
  <h1>Генератор QR-кодів</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Згенерувати</button>
  </form>
  {% if qr_code %}
    <h2>Згенерований QR-код:</h2>
    <img src="{{ qr_code.qr_code_image.url }}" alt="QR Code">
    <a href="{{ qr_code.qr_code_image.url }}" download="qrcode.png"><button type="button">Завантажити QR-код</button></a>
  {% endif %}
{% endblock %}


